@charset "utf-8";
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  color: white;
  font-family: "fot-matisse-pron", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h2 {
  font-size: 2.8rem;
  line-height: 1;
  font-family: "natalya", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: black;
  width: fit-content;
  margin-top: 20%;
  margin-left: 8%;
}
h2 small {
  font-size: 0.8rem;
  line-height: 0.8;
  font-weight: 100;
  display: block;
  font-family: "fot-matisse-pron", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 3%;
}
@media screen and (min-width: 767px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 30px;
  }
  h2 {
    font-size: 4rem;
  }
  h2 small {
    line-height: 1.2;
  }
}

/* header */
header {
  position: relative;
  height: 160vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0),
    rgba(0, 0, 0, 0.436)
  );
}
.menu {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1000;
  padding-right: 5%;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2.5rem;
  font-family: "natalya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pc-container {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
}
.pc-container img {
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
#sp {
  display: none;
  background: rgba(31, 31, 31, 0.836);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
#sp ul {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5%;
}
#sp ul li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.pc {
  display: none;
}
.close {
  position: fixed;
  top: 3vw;
  right: 3vw;
  font-size: 3rem;
}
.logo {
  display: block;
  z-index: 10;
  position: fixed;
  top: 2%;
  left: 5%;
}
.logopc {
  display: none;
}
.logo img {
  width: 50%;
  object-fit: contain;
}
.background {
  background: rgb(31, 31, 31);
}
.reservation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: rgb(31, 31, 31);
  z-index: 10;
  text-decoration: none;
  color: white;
}
header h1,
header p {
  z-index: 1;
}
header h1 {
  color: white;
  text-shadow: #fc0 1px 0 10px;
  font-size: 2.8rem;
  line-height: 1.1;
  margin-left: 5%;
}
header p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-size: 1.2rem;
}
header h1 span {
  display: block;
}
header p span {
  display: block;
}
.headerp {
  margin-left: 20%;
  margin-top: 2%;
}
.headerp2 {
  margin-left: 5%;
  margin-top: 2%;
}
.gold {
  color: white;
  text-shadow: #fc0 1px 0 10px;
}
@media screen and (min-width: 768px) {
  header {
    height: 170vh;
  }
  header img {
    height: 100vh;
    object-position: top;
  }
  .menu {
    padding: 5%;
  }
  header h1 {
    padding-top: 5%;
  }
  .logo {
    top: 3%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 177vh;
    width: 65vh;
    background: none;
  }
  header img {
    height: 100vh;
    margin: 0 auto;
    padding-top: 2%;
    object-fit: contain;
  }
  .menu {
    display: none;
  }
  .pc-container {
    width: 1200px;
    top: 4%;
    display: flex;
    z-index: 10;
  }
  .pc {
    display: block;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  .pc ul {
    background: rgb(31, 31, 31);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    list-style: none;
    font-size: 0.8rem;
  }
  .pc ul li a {
    color: white;
    text-decoration: none;
  }
  .logo {
    display: none;
  }
  .logopc {
    display: block;
    width: 350px;
    height: 200px;
  }
  .logopc a {
    position: absolute;
    right: 0%;
    bottom: 8%;
    width: 80vw;
    max-width: 1000px;
    height: fit-content;
    z-index: 1000;
  }
  .logopc a img {
    max-width: 1000px;
    width: 80vw;
    height: 30vh;
    object-fit: contain;
  }
  .headerh1 {
    padding-top: 5%;
    margin-left: 10%;
    z-index: 1000;
    position: relative;
  }
  .headerp {
    padding-top: 0.5%;
    margin-left: 10%;
    text-shadow: 10px 0 20px rgb(113, 113, 113);
    z-index: 1000;
    position: relative;
  }
  .headerp2 {
    padding-top: 0.5%;
    margin-left: 10%;
    text-shadow: 10px 0 20px rgb(113, 113, 113);
    z-index: 1000;
    position: relative;
  }
  .reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    left: 74.8vw;
    bottom: 0.2vw;
    font-size: 1rem;
    border-radius: 8px;
    background: radial-gradient(
      ellipse at center,
      rgb(248, 230, 159) 0%,
      rgb(239, 230, 155) 28%,
      rgb(236, 230, 155) 18%,
      rgba(255, 255, 255, 0) 70%
    );
  }
  .reservation p {
    display: block;
    width: 20vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: black;
  }
  .reservation div {
    width: 20vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(31, 31, 31);
  }
}

/* personal */
.p1,
.p2,
.p3 {
  width: 87%;
  margin: 5% auto;
  padding: 5%;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 8px;
}
.p1 span {
  display: block;
}
.p1 h3,
.p2 h3,
.p3 h3 {
  background: linear-gradient(
    to left,
    rgb(248, 230, 159),
    rgb(250, 244, 219) 50%,
    rgb(248, 230, 159) 100%
  );
  padding: 5%;
  margin-bottom: 3%;
  font-size: 1.2rem;
  border-radius: 8px;
}
@media screen and (min-width: 767px) {
  .p1 h3,
  .p2 h3,
  .p3 h3 {
    margin-bottom: 3%;
  }
  @media screen and (min-width: 1200px) {
    .personal {
      padding-top: 0%;
    }
    .p1,
    .p2,
    .p3 {
      width: 99%;
      margin: 5% auto;
      padding: 5%;
      color: black;
      font-size: 1rem;
      border: 1px solid black;
      border-radius: 8px;
    }
    .p1 h3,
    .p2 h3,
    .p3 h3 {
      padding: 1%;
    }
  }
}

/* trainer */
.cycle {
  border: 2px solid rgba(135, 135, 135, 0.5);
  background: white;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  color: rgba(135, 135, 135);
}
.t1,
.t2 {
  position: relative;
}
.cycle {
  position: absolute;
  top: -25%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.cycle h3 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  text-align: center;
  font-family: "fot-matisse-pron", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.trainer div:nth-of-type(1) {
  margin-top: 20%;
  margin-bottom: 15vw;
}
@media screen and (min-width: 1200px) {
  .trainer div:nth-of-type(1) {
    margin-bottom: 15%;
  }
  .cycle {
    top: -35%;
    left: 21%;
    max-width: 300px;
    max-height: 300px;
  }
}

/* facility */
.facility {
  position: relative;
}
.fstickyh2 {
  position: sticky;
  top: 15%;
  margin-bottom: 5%;
}
.facility img {
  height: 40vh;
  object-fit: cover;
}
.fsticky {
  position: sticky;
  top: 27%;
  height: 40vh;
}
.facility div p {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 1rem;
}
.pgraywrapper {
  position: static;
  height: 30%;
  text-align: center;
}
#pgray {
  color: black;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  right: 0;
  width: fit-content;
  margin: 2% auto;
}
@media screen and (min-width: 767px) {
  .facility img {
    height: 50vh;
  }
  .fsticky {
    height: 50vh;
  }
}
@media screen and (min-width: 1200px) {
  .fstickyh2 {
    top: 10%;
  }
  .fsticky {
    top: 25.5%;
  }
}
/* partner */
.partner {
  color: black;
}
.partner div p {
  font-weight: bold;
  font-size: 1.2rem;
}
.partner div p a {
  color: black;
}
.partner div p span {
  display: block;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
}
.partner div p span:nth-of-type(1) {
  margin-top: 2%;
}
.partner div:nth-of-type(2) {
  margin-top: 5%;
}
.partner div:nth-of-type(3) {
  width: 80%;
  margin: 0% auto 10%;
  color: black;
}
@media screen and (min-width: 767px) {
  .partner {
    margin-top: 20%;
  }
  .partner div:nth-of-type(3) {
    width: fit-content;
  }
}

/* price */
.price {
  color: black;
}
.price div:nth-of-type(n + 2) {
  font-size: 1.2rem;
  width: 90%;
  margin: 0% auto 5%;
  border-bottom: 2px solid rgba(135, 135, 135, 0.5);
  border-right: 2px solid rgba(135, 135, 135, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.price div:nth-of-type(2) {
  margin-top: 5%;
}
.price div:nth-of-type(5) {
  margin-bottom: 10%;
}
.price div:nth-of-type(2),
.price div:nth-of-type(3),
.price div:nth-of-type(5) {
  height: 200px;
}
.price div:nth-of-type(4) {
  height: 200px;
}
.price div:nth-of-type(n + 2) p {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.price div:nth-of-type(n + 2) {
  background: linear-gradient(
    to left,
    rgb(248, 230, 159),
    rgb(250, 244, 219) 50%,
    rgb(248, 230, 159) 100%
  );
  padding: 5%;
  border-radius: 8px;
}
.price div span {
  display: block;
  font-weight: 100;
}
.price div h3 small {
  display: block;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1.2;
}
.price div h3 {
  text-shadow: 4px 0px 3px rgb(255, 255, 255);
}
.price div h3 small {
  text-shadow: none;
}
.price div p {
  text-shadow: 4px 0px 3px rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}

/*access */
.access {
  height: 85vh;
  color: black;
}
iframe {
  width: 80%;
  height: 30vh;
  margin: 0 auto;
  display: block;
}
.access div:nth-of-type(1) {
  margin-bottom: 5%;
}
.access div:nth-of-type(2) {
  width: 80%;
  margin: 2% auto;
  text-align: left;
}
.access div p {
  line-height: 1.5;
  margin-left: 2%;
}
@media screen and (min-width: 1200px) {
  .access div p {
    font-size: 1rem;
    line-height: 1.4;
  }
}
/* footer */
footer {
  margin-bottom: 25%;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer ul li {
  margin: 0 2%;
}
footer li a {
  font-size: 0.5rem;
  text-decoration: none;
  color: black;
}
